<%- include('layouts/header') %>
<link rel="stylesheet" type="text/css" href="stylesheets/form.css">

<style>
    body{
        margin: 0;
        padding: 0;
    }

    #content{
        padding-top: 100px;
        text-align: center;
    }

    #content div{
        height: 200px;
    }

    h1{
        padding-bottom: 30px;
    }
</style>

<%- include('partials/navbar') %>

<div id="content">
    <div></div>
    <h1>联系我</h1>
    <p>
        机械本科、硕士，自学编程，目前水平前端小菜鸟，技能包括：HTML5、CSS3、JavaScript、JQuery、Node.js、express、mongoose、EJS。。。
    </p>
    <p>
        以上技术均有接触，但不擅长。计划发展方向为前端，目前正在进一步学习JS与CSS中。
    </p>
    <p>
        如有工作需要请发邮件至<a href="#">lihao19900829@qq.com</a>。
    </p>
</div>

<%- include('layouts/footer') %>